.form-select {
  width: 100%;
  padding: 10px 15px;
}

h2 {
  margin: 10px;
  text-align: center;
}

.info-block {
  margin: 5px;
}

.info-block > p {
  margin: 0;
}

.select-block {
  margin: 0;
  justify-content: center;
}
