.header-container {
  background-image: url('https://cdn.discordapp.com/attachments/917850678267891712/1051967998061183057/TRS_GUILD.gif');
  background-position: center;
  background-size: cover;
  width: 100%;
  min-width: 800px;
  height: 150px;
}

@media screen and (max-width: 800px) {
  .header-container {
    margin-left: calc((100% - 800px) / 2);
    height: 110px;
  }
}

h1 {

}
